################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/sitecore-commerce-bitpay-payment-plugin/v15
